.signin-label
{
  display: inline-block;
  width: 6em;
}
.signin-input
{
  width: 20em;
  margin-bottom: 0.5em;
}
.signin-button
{
  width: auto;
}
.button-icon
{
  width: 0.9em;
  height: 0.9em;
}
.save-button, .cancel-button
{
  display: none;
}